#map {
    width:100%;
    height:500px;
  }
  
  pre {
      min-width:300px;
      white-space: pre-wrap;     
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;    
      white-space: -o-pre-wrap;  
      word-wrap: break-word;     
  }
  
  .leaflet-popup-content-wrapper {
      min-width: 350px;
  }